@import "variables";

@mixin links {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

@mixin shadow {
  -webkit-box-shadow: 0px 2px 11px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 11px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 11px 5px rgba(50, 50, 50, 0.75);
}
@mixin fotos($varWidth, $varWidthHover) {
  width: $varWidth;
  &:hover {
    width: $varWidthHover;
    @include shadow;
  }
}
* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 274px;
}

body {
  line-height: normal;
  font-family: $primary-font;
}

.titulos {
  color: $primary-font-color;
  font-weight: bolder;
  word-spacing: 0px;
  font-style: italic;
  font-size: 25px;
  margin: 20px;
}

.subtitulo {
  font-size: 15px;
  text-align: start;
  line-height: 20px;
  margin: 20px;
  font-weight: bolder;
}

.link {
  @include links;
  color: $primary-font-color;
}

.header {
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.81);
  background-color: $card-color;
  z-index: 1;
  &__logo {
    display: inline-block;
    &--img {
      width: 4em;
      transition: 1.5s all;
    }
  }

  .navbar-toggler {
    border-color: $secondary-color;
    border-width: 2px;
  }

  .navbar-toggler-icon {
    background-image: url("/images/icons/menu.svg");
  }

  .navButtons {
    .lista {
      display: flex;
      justify-content: space-around;
      li {
        margin: 5px;
        font-size: 100%;
        font-weight: bolder;
        list-style: none;
        display: inherit;
        transition: 0.2s;
        &:hover {
          text-shadow: 1px 1px 16px rgba(150, 150, 149, 1);
        }
      }
    }
  }
}
.album {
  background-image: url("../images/fishbackground-min.png");
  display: grid;
  grid-template-areas:
  "image1"
  "image2"
  "image3"
  "iframe";
  justify-items: center;
  align-items: center;
  &__photo {
    margin-top: 50px;
    transition: 1s;
  }
  #imagen1 {
    @include fotos(70%, 73%);
    grid-area: image1;
  }
  #imagen2 {
    @include fotos(70%, 73%);
    grid-area: image2;
  }
  #imagen3 {
    @include fotos(70%, 73%);
    grid-area: image3;
  }
  &__video {
    margin: 20px 0px;
    width: 80%;
    grid-area: iframe;
  }
}
.tabla {
  background-image: url("../images/borabora-min.png");
  background-size: cover;
  font-family: $secondary-font;
  font-weight: bolder;
  font-size: 14px;
  width: 100%;
  height: 400px;
  text-align: center;
  &__titulosTabla {
    color: $primary-font-color;
  }
  &__items {
    color: #5daa31;
    list-style: disc inside none;
  }
}

.formulario {
  @include shadow;
  background-color: $card-color;
  padding-bottom: 30px;
  padding-top: 10px;
  margin: 50px;
  margin-left: 10%;
  width: 80%;
  input {
    margin: 10px;
  }
  &__tituloForm {
    font-size: 30px;
    text-align: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    input {
      width: 80%;
      font-size: 13px;
    }
    select {
      width: 80%;
      font-size: 13px;
      margin-left: 10px;
    }
  }
  &__paquete {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 50px;
    font-size: 15px;
  }
  &__formButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 20px;
    .button {
      font-size: 15px;
    }
    .button.sendButton {
      order: -1;
    }
  }
}

.historia {
  width: 90%;
  margin-left: 5%;
  &__parrafo {
    font-size: 17px;
    text-align: left;
    line-height: 24px;
    margin: 30px;
  }
}

.footer {
  font-size: 12px;
  padding: 10px;
  padding-bottom: 0px;
  box-shadow: 0px -3px 6px 0px rgba(50, 50, 50, 0.75);
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  font-family: $secondary-font;
  &__redes {
    display: flex;
    &--wpp {
      display: none;
    }
    &--social-media {
      margin-left: 20px;
      width: 30px;
      transition: 0.5s;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  * {
    scroll-padding-top: 135px;
  }

  .header {
    .navButtons {
      margin-left: 15px;
    }
  }

  .album {
    grid-template-areas:
      "image1 image2 image3"
      "iframe iframe iframe";
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 350px 400px;
    &__photo {
      margin-top: 0px;
    }
    #imagen1 {
      @include fotos(90%, 95%);
    }
    #imagen2 {
      @include fotos(95%, 100%);
    }
    #imagen3 {
      @include fotos(90%, 95%);
    }
    &__video {
      margin: 0px;
    }
  }

  .formulario {
    margin-left: 25%;
    width: 50%;
    &__paquete {
      margin: 20px 0px 0px 90px;
    }
  }

  .historia {
    margin-left: 50px;
    &__parrafo {
      line-height: 30px;
    }
  }

  .footer {
    font-size: 16px;
    &__redes {
      &--wpp {
        z-index: 2;
        display: block;
        position: fixed;
        top: 0px;
        right: 10px;
        width: 80px;
        transition: 1s;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .titulos {
    word-spacing: 0.5px;
    font-size: 45px;
  }

  .subtitulo {
    font-size: 16px;
    line-height: 24px;
  }

  .header {
    &__logo {
      &--img {
        width: 4em;
        &:hover {
          transform: rotate(-360deg);
        }
      }
    }

    .navButtons {
      .lista {
        li {
          a:hover {
            @include links;
          }
        }
      }
    }
  }
  .album {
    grid-template-rows: 450px 400px;
  }
  .tabla {
    font-size: 18px;
    margin-left: 15%;
    width: 950px;
    &__items {
      margin-left: 30%;
    }
  }

  .formulario {
    margin-left: 100px;
    width: 30%;
    display: inline-block;
    &__tituloForm {
      font-size: 25px;
    }
    &__info {
      input {
        width: 250px;
        transition: 1s;
        &:focus {
          background: rgb(228, 255, 212);
          color: #333;
        }
      }
      select {
        width: 250px;
      }
    }
    &__formButtons {
      .button {
        &:hover {
          cursor: pointer;
          transition: 0.5s;
          background: rgb(241, 139, 136);
        }
      }
      .button.sendButton {
        &:hover {
          background: rgb(174, 241, 136);
          transition: 0.5s;
        }
      }
    }
  }

  .historia {
    display: inline-block;
    width: 50%;
    &__parrafo {
      font-size: 16px;
      text-align: justify;
      line-height: 24px;
      margin: 20px;
    }
  }
}
