@import "variables";

@mixin links {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

@mixin shadow {
  -webkit-box-shadow: 0px 2px 11px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 11px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 11px 5px rgba(50, 50, 50, 0.75);
}

.header {
  position: static;
}

.miPerfil-container {
  display: block;
}

.perfil {
  @include shadow;
  background-color: rgb(235, 235, 235);
  font-family: $secondary-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  margin-left: 25%;
  &__dropdown {
    padding: 20px;
  }
  &__foto {
    width: 50%;
  }
}

#carousel {
  display: block;
  width: 600px;
  margin-bottom: 50px;
  margin-left: 10%;
  .tituloPerfil {
    font-size: 35px;
    text-align: center;
  }
  img {
    width: 450px;
    height: 350px;
  }
}

@media only screen and (min-width: 1200px) {
  .miPerfil-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .perfil {
    @include shadow;
    display: inline-block;
    width: 30%;
    margin: 50px;
    &__foto {
      width: 70%;
    }
  }

  #carousel {
    margin-left: 70px;
    display: inline-block;
  }
}
