@import "variables";

@mixin links {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

@mixin shadow {
  -webkit-box-shadow: 0px 2px 11px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 11px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 11px 5px rgba(50, 50, 50, 0.75);
}

.subtitulo {
  margin-top: 50px;
}

.card-header {
  transition: 0.5s;
  &:hover {
    background-color: $card-color;
  }
}

.form-group {
  width: 80%;
  margin-left: 5%;
}

.form-check {
  margin: 20px 0px;
  margin-left: 5%;
}

.form-control {
  resize: none;
}

.form-buttons {
  margin-left: 5%;
}

@media only screen and (min-width: 768px) {
  .form-group {
    width: 40%;
  }
}

.button {
  &:hover {
    cursor: pointer;
    transition: 0.5s;
    background: rgb(241, 139, 136);
  }
}

.button.sendButton {
  &:hover {
    background: rgb(174, 241, 136);
    transition: 0.5s;
  }
}

@media only screen and (min-width: 1200px) {
  .form-group {
    width: 30%;
  }
}

